<br>
    <table class="table table-striped table-over">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Path</th>
        </tr>
        <tr *ngFor="let row of data">
          <td>{{row.id}}</td>
          <td>{{row.name}}</td>
          <td>{{row.path}}</td>
         </tr>
      </thead>
      
    </table>

    