<div class="panel-body">
<table class="table table-striped table-over">
  <tr>
    <th>id</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>País</th>
    <th>Fecha</th>
    <th>Telefono</th>
  </tr>
   <tr *ngFor="let row of data">
    <td>{{row.id}}</td>
    <td>{{row.name}}</td>
    <td>{{row.last_name}}</td>
    <td>{{row.email}}</td>
    <td>{{row.country}}</td>
    <td>{{row.birth_date}}</td>
    <td>{{row.phone}}</td>
   </tr>

  
</table>
</div>


