<div class="panel-body">
    <table class="table table-striped table-over">
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>País</th>
        <th>Fecha</th>
        <th>Telefono</th>
      </tr>
      
       <tr *ngFor="let row of data">
        <td>{{row.id}}</td>
        <td>{{row.nombre}}</td>
        <td>{{row.apellido}}</td>
        <td>{{row.email}}</td>
        <td>{{row.pais}}</td>
        <td>{{row.fecha}}</td>
        <td>{{row.telefono}}</td>
       </tr>
    
      
    </table>
    </div>
    
    